{% extends 'layout.html' %}
{% block content %}
<div class="h-100 d-flex flex-column mt-2 mb-5 align-items-center justify-content-center" style="color: #ff8fa1;">
    <h3>DASHBOARD</h3>
</div>

<div class="d-flex flex-row align-items-center justify-content-center" style="width: 80em;">
    <div class="col-xs-10 col-sm-6 col-md-6 px-4">
        <div class="card border-light card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="income_vs_expense"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-6 px-4">
        <div class="card border-light card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="expenses_over_time"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column mt-5 align-items-center justify-content-center" style="width: 90em;">
    <div class="h-100 d-flex flex-column col-sm-10 mt-3 ml-auto mr-auto align-items-center justify-content-center">
        <table class="table table-sm table-hover">
            <thead class="table-danger">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <th class="text-secondary" scope="row">{{loop.index}}</th>
                    <td class="text-secondary">{{ entry.date.strftime("%d-%m-%Y") }}</td>
                    <td class="text-secondary">{{ entry.type }}</td>
                    <td class="text-secondary">{{ entry.category }}</td>
                    <td class="text-secondary">{{ entry.amount }}</td>
                    <td><a href="{{ url_for('delete', entry_id = entry.id) }}"
                            class="btn btn-outline-danger btn-sm">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block javascript %}
<script>
    Chart.scaleService.updateScaleDefaults('linear', {
        ticks: {
            min: 0
        }
    });

    let income_expense = JSON.parse({{ income_vs_expense | tojson}});
    let income_vs_expense_chart = new Chart(income_vs_expense, {
        type: 'pie',
        data: {
            labels: ['income', 'expense'],
            datasets: [{
                label: "Income Vs Expenses",
                data: income_expense,
                backgroundColor: ['#ffc7d2', '#ff8fa1 '],
                borderWidth: 1,

                hoverBackgroundColor: '#f95d6a',
                pointHoverRadius: 5
            }],
        },
        options: {
            legend: {
                position: "right",
                labels: {
                    fontColor: "gray"
                },
                display: true,
            },

            elements: {
                hitRadius: 3,
            }
        }
    })

    let dates = JSON.parse({{ date_labels | tojson}});
    let amounts = JSON.parse({{ over_time_expenditure | tojson}});
    new Chart(document.getElementById("expenses_over_time"), {
        type: "line",
        data:
        {
            labels: dates,
            datasets: [{
                label: "transactions over time",
                backgroundColor: '#ff8fa1',

                data: amounts,
                fill: false,
                borderColor: '#ff8fa1',
                lineTension: 0.1
            }]
        },
        options: {}
    });

</script>
{% endblock %}
{% endblock %}